# üìù Hands-On Exercises: Functions in Python

**Task: Create a function that prints a welcome message.**

         "Hello, welcome to CMP7005, Introduction to Data Analytics!".

In [2]:
# Solution:
def welcome():
  print('Hello, welcom to CMP7005, Introduction to Data Analytics!')

welcome()

Hello, welcom to CMP7005, Introduction to Data Analytics!

**Function with Parameters**

**Task: Create a function that greets someone by name.**

    Hello <name>!,
    Glad to see you learning Function in Python!
    Happy Learning!

In [22]:
# Solution:
def Hello (name):
  print(f'Hello, {name}!')
  print('Glad to see you learning Function in Python!')
  print('Happy Learning')

Hello('Ademola')

Hello, Ademola!
Glad to see you learning Function in Python!
Happy Learning

**Task: Create a function that makes a formatted name tag with first name, last name, and grade.**

**Output:**
```
==============================
    HELLO, MY NAME IS
    Amrita Prasad
    Level: 7
==============================

In [33]:
# Solution:
def name_tag(first_name, last_name, grade):
     print('=' * 30)
     print('Hello, my name is')
     print(f'    {first_name} {last_name}')
     print(f'  level: {grade}')
     print('=' * 30)
name_tag('Ademola', 'oyegoke',8)

==============================
Hello, my name is
    Ademola oyegoke
  level: 8
==============================

**Task: Create a function that prints rectangle information with length and width.**

`An example output:`

**Output:**
```
üìê Rectangle Details üìê
Length: 5 units
Width: 3 units
Area: 15 square units
Perimeter: 16 units
------------------------------

In [ ]:
# Solution:
def rectangle_info

**Function with Return Value**

**Task: Create a function add_numbers(a, b) that returns the sum of two numbers.
Call the function by inputting with different numbers and print the results.**

In [47]:
# Solution:
def add_numbers(a,b):
  return a+b
result = add_numbers(10,5)
print(f'the result is:  {result}')

result = add_numbers(20,10)
print(f'the result is:  {result}')

the result is:  15
the result is:  30

Create a function that calculates the area of a circle and returns it.

`(Area = 3.14 √ó radius √ó radius)`

**Output:**
```
Circle area: 78.5
Larger circle area: 314.0
Combined area: 78.26

In [51]:
# Solution:
def circle_area(radius):
  return 3.14 * radius * radius
area_1 = circle_area(5)
area_2 = circle_area(8)
combined_area = area_1 + area_2
print(f'circle area: {area_1}')
print (f'larger circle area: {area_2}')

circle area: 78.5
larger circle area: 200.96

### **Try on your own question:**

**Task: Create a function that converts Celsius to Fahrenheit and returns the result.**

`(Formula: fahrenheit = celsius √ó 9/5 + 32)`

**Output:**
```
25¬∞C = 77.0¬∞F
Water freezes at 32.0¬∞F
Water boils at 212.0¬∞F

In [ ]:
# Solution:

### **Try on your own question:**

**Task: Create a function that converts kilometers to miles and returns it**
`(1 kilometer = 0.621 miles)`

**Output:**
```
5 km = 3.105 miles
10 km = 6.21 miles
Marathon distance: 26.082 miles

In [ ]:
# Solution:

**Using Default Parameters**

**Task: Write a function power(base, exponent=2) that returns base raised to the power of exponent. Test it by calling power(5) and power(2, 3).**

In [ ]:
# Solution:

**Palindrome Checker**

**Task: Write a function is_palindrome(text) that returns True if the string is the same when reversed, otherwise False.**

In [ ]:
# Solution:

**Multiple Return Values**

**Task: Create a function circle_measurements(radius) that returns both area and circumference of a circle.**

**Use formulas:**

**Area = œÄ √ó r¬≤**

**Circumference = 2 √ó œÄ √ó r**

In [ ]:
# Solution:

**Task: Create a function that calculates total and average from three game scores and returns both.**

```

Output:

Total: 270, , Average: 90.0
Your total is 280 and average is 93.33333333333333
```

In [59]:
# Solution:
def game_scores(score1, score2, score3):
  total = score1 + score2 + score3
  average = total/3
  return total, average
total, average = game_scores(10,20,30)
print(f'Total :{total},       Average: {average}')

Total :60,       Average: 20.0

**Task: Create a function that finds both the smallest and largest of three numbers.**
```
Output:

Smallest: 5, Largest: 12
Range: 25 to 100
```

In [ ]:
# Solution:

**Task: Create a function that takes a full name and returns first name and last name separately.**

**Output:**
```
Name Amrita Prasad
First name: Amrita, Last name: Prasad
Hello Amrita! Your last name is Prasad.

In [ ]:
# Solution:

### **Try on your own question:**

**Task: What to do: Create a function that returns both area and perimeter of a rectangle.**

In [ ]:
# Solution:

**Functions with Arbitrary Arguments:**

**Task: Create a function that can add any amount of numbers together**

In [ ]:
# Solution:

**Task: Create a function that finds the highest number from any amount of scores**

In [ ]:
# Solution:

**Task: Create a function that calculates the average of any amount of numbers**

In [ ]:
# Solution:

**Function with Keyword Arguments :**

**Task: Create a function book_info(title, author, year=2025) that prints the book details. Call it using positional and keyword arguments.**

In [ ]:
# Solution: